<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259604529390-6936rf3ec1113shrke6u6ptabj7rsj5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259604529390-6936rf3ec1113shrke6u6ptabj7rsj5g</string>
	<key>API_KEY</key>
	<string>AIzaSyD0YcXdU2OP24y26nDtC3eUW_f6Wvqn-7c</string>
	<key>GCM_SENDER_ID</key>
	<string>259604529390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>test-17cc0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-17cc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259604529390:ios:7f4c9e5078dd9123b0f3ff</string>
</dict>
</plist>